<div class="intro-content">
    <h2>Atmos</h2>
    <p style="color: var(--text-secondary);">Classic Microsoft Blue.</p>
</div>

<img src="assets/uploads/ui.jpg" alt="Microsoft Atmos Colors">

<div class="intro-content">
    <h2>Grey</h2>
    <p style="color: var(--text-secondary);">Fluent neutrals.</p>
</div>
<img src="assets/uploads/grey.jpg" alt="Fluent Greys">

<div class="intro-content">
    <h2>Snag the code</h2>
    <p style="color: var(--text-secondary);">You can use ctrl+a within the text field to select just the code.</p>
</div>
{% include code-color.html %}

