<div class="intro-content">
    <h2>Components</h2>
    <p style="color: var(--text-secondary);">Simple, extensive.</p>
</div>

<div class="component-showcase">
    <button class="primary">Primary</button>
    <button class="secondary">Secondary</button>   
    <button class="tertiary">Tertiary</button>    
</div>

<div class="intro-content">
    <h2>Snag the code</h2>
    <p style="color: var(--text-secondary);">You can use ctrl+a within the text field to select just the code.</p>
</div>
{% include code-components.html %}