body {
	background-color: var(--bg-secondary);
	color: var(--text-primary);
    font-family: "SegoeUI-VF";
    margin: 0 ;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    overflow:hidden;
}

* {
    margin: 0 ;
    padding: 0;
}


// GLOBAL COLORS
$white: #ffffff;
$grey1: #fafafa;
$grey2: #f6f6f6;
$grey3: #f0f0f0;
$grey4: #ebebeb;
$grey5: #e0e0e0;
$grey6: #d2d2d2;
$grey7: #bdbdbd;
$grey8: #9c9c9c;
$grey9: #707070;
$grey10: #616161;
$grey11: #424242;
$grey12: #333333;
$grey13: #242424;
$grey14: #1f1f1f;
$black: #000000;
$grey13-opacity90:  #24242490;
$white-opacity90:  #ffffff90;
$grey13-opacity10:  #24242410;
$white-opacity10:  #ffffff10;

// SPACING
$block2:2px;
$block4:4px;
$block6:6px;
$block8:8px;
$block10:10px;
$block12:12px;
$block16:16px;
$block20:20px;
$block24:24px;
$block32:32px;
$block40: 40px;
$block48:48px;
$block64:64px;
$block96:96px;
$block128:128px;
$block192:192px;
$block256:256px;
$block384:384px;
$block512:512px;
$block768:768px;

