// PRIMARY
button.primary {
    color: $grey1;
    background-color: var(--atmos-default);
    padding: $block12 $block16;
    height: $block40;
    display: flex;
    gap: $block2;
    font-size: 14px;
    font-weight: 600;
    line-height: 115%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    svg {
        fill: $grey1;
    }
}


button.primary:hover {
    background-color: var(--atmos-default-hover);
}

button.primary:active {
    background-color: var(--atmos-default-pressed);
}

.merp-close {
    color: var(--text-primary-inverse);
    background-color: var(--bg-primary-inverse);
    padding: $block10 $block32;
    height: $block64;
    display: flex;
    align-items: center;
    gap: $block2;
    font-size: 16px;
    font-weight: 600;
    line-height: 115%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    svg {
        fill: $grey1;
    }
}

.merp-close:hover {
    background-color: var(--bg-primary-hover-inverse);
    // width: 100%;
}

.merp-close:active {
    background-color: var(--bg-primary-pressed-inverse);
}



// SECONDARY
button.secondary {
    color: var(--text-primary);
    background-color: transparent;
    padding: $block8 $block16;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--input-stroke);
    border-radius: 4px;
    cursor: pointer;
    svg {
        fill: var(--text-primary);
    }
}

button.secondary:hover {
    background-color: var(--bg-primary-hover);
    border: 1px solid var(--input-stroke-hover);
}

button.secondary:active {
    background-color: var(--bg-primary-pressed);
    border: 1px solid var(--input-stroke-pressed);
}

// TERTIARY
button.tertiary {
    color: var(--text-primary);
    background-color: transparent;
    padding: $block12 $block16;
    height: 40px;
    display: flex;
    gap: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    svg {
        fill: var(--text-primary);
    }
}

button.tertiary:hover {
    background-color: var(--bg-primary-hover);
}

button.tertiary:active {
    background-color: var(--bg-primary-pressed);
}