// GLOBAL COLORS
$white: #ffffff;
$grey1: #fafafa;
$grey2: #f6f6f6;
$grey3: #f0f0f0;
$grey4: #ebebeb;
$grey5: #e0e0e0;
$grey6: #d2d2d2;
$grey7: #bdbdbd;
$grey8: #9c9c9c;
$grey9: #707070;
$grey10: #616161;
$grey11: #424242;
$grey12: #333333;
$grey13: #242424;
$grey14: #1f1f1f;
$black: #000000;
$grey13-opacity90:  #24242490;
$white-opacity90:  #ffffff90;
$grey13-opacity10:  #24242410;
$white-opacity10:  #ffffff10;

// ATMOS
$atmos7: #253294;
$atmos6: #3243C5;
$atmos5: #3E54F7;
$atmos4: #6576F9;
$atmos3: #8B98FA;
$atmos2: #B2BBFC;
$atmos1: #D8DDFD;



[data-theme="light"] {
  // DEFAULT
	--bg-primary: #{$white};
  --bg-primary-hover: #{$grey4};
  --bg-primary-pressed: #{$grey5};
  --bg-secondary: #{$grey3};
  --bg-secondary-hover: #{$grey4};
  --bg-secondary-pressed: #{$grey5};
	--text-primary: #{$grey14};
  --text-secondary: #{$grey10};
  --input-stroke: #{$grey8};
  --input-stroke-hover: #{$grey10};
  --input-stroke-pressed: #{$grey12};
  // INVERSE
  --bg-primary-inverse: #{$grey13};
  --bg-primary-hover-inverse: #{$grey14};
  --bg-primary-pressed-inverse: #{$black};
  --bg-secondary-inverse: #{$grey12};
  --bg-secondary-hover-inverse: #{$grey13};
  --bg-secondary-pressed-inverse: #{$grey14};
	--text-primary-inverse: #{$grey1};
  --text-secondary-inverse: #{$grey8};
  --input-stroke-inverse: #{$grey10};
  --input-stroke-hover-inverse: #{$grey8};
  --input-stroke-pressed-inverse: #{$grey6};
  // ALPHA
  --alpha: 90%;
  --bg-primary-opacity90: #{$white-opacity90};
  --bg-primary-inverse-opacity10: #{$grey13-opacity10}
}

[data-theme="dark"] {
  // DEFAULT
	--bg-primary: #{$grey13};
  --bg-primary-hover: #{$grey14};
  --bg-primary-pressed: #{$black};
  --bg-secondary: #{$grey12};
  --bg-secondary-hover: #{$grey13};
  --bg-secondary-pressed: #{$grey14};
	--text-primary: #{$grey1};
  --text-secondary: #{$grey8};
  --input-stroke: #{$grey10};
  --input-stroke-hover: #{$grey8};
  --input-stroke-pressed: #{$grey6};
  // INVERSE
  --bg-primary-inverse: #{$white};
  --bg-primary-hover-inverse: #{$grey4};
  --bg-primary-pressed-inverse: #{$grey5};
  --bg-secondary-inverse: #{$grey3};
  --bg-secondary-hover-inverse: #{$grey4};
  --bg-secondary-pressed-inverse: #{$grey5};
	--text-primary-inverse: #{$grey14};
  --text-secondary-inverse: #{$grey10};
  --input-stroke-inverse: #{$grey8};
  --input-stroke-hover-inverse: #{$grey10};
  --input-stroke-pressed-inverse: #{$grey12};
    // ALPHA
    --alpha: 90%;
    --bg-primary-opacity90: #{$grey13-opacity90};
    --bg-primary-inverse-opacity10: #{$white-opacity10}
}

