@font-face {
  font-family: "SegoeUI-VF";
  src: url("../../assets/fonts/SegoeUI-VF.woff") format('woff'),
    url("../../assets/fonts/SegoeUI-VF.ttf") format('truetype');
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
  font-weight: 100 900;
}

.w100 {
  font-variation-settings: 'wght' 100;
}

.w200 {
  font-variation-settings: 'wght' 200;
}

.w300 {
  font-variation-settings: 'wght' 300;
}

.w400 {
  font-variation-settings: 'wght' 400;
}

.w500 {
  font-variation-settings: 'wght' 500;
}

.w600 {
  font-variation-settings: 'wght' 600;
}

.w700 {
  font-variation-settings: 'wght' 700;
}

.w800 {
  font-variation-settings: 'wght' 800;
}

.w800 {
  font-variation-settings: 'wght' 900;
}

// GLOBAL
body {
  color: var(--text-primary);
  font-family: 'Segoe UI', 'SegoeUI-VF', sans-serif;
  // , -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  ;
}

// BODY
p.base {
  font-size: 16px;
  line-height: 135%;
}

p.small {
  font-size: 14px;
  line-height: 135%;
}

p.emphasis {
  font-size: 20px;

  line-height: 135%;
  letter-spacing: -0.32px;
}

p.callout {
  font-size: 32px;

  line-height: 135%;
  letter-spacing: -0.32px;
}


// Use this as an "ID" tag to get the semibold variant. Do not use this on titles or headers
#semibold {
  font-weight: 500;
}

// TITLE
title {
  font-size: 80px;
  font-style: normal;
  line-height: 125%;
  letter-spacing: -1.6px;
}

// HEADERS
h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1.44px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: -0.72px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: -0.48px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.48px;
}