<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="icon" type="image/x-icon" href="assets/uploads/favi.ico">
</head>

<body>
	{% include header.html %}
	{% include darkmode.html %}
	{% include windows.html %}
	{% include footer.html %}
	<!-- {% include leftnav.html %} -->
	<div class="result" id="result"></div>
	<!-- {{ content }} -->

</body>

</html>